__pycache__/
*.pyc
.DS_Store

.venv/
venv/
env/
.env
.cache/

.ipynb_checkpoints/

outputs/
results/
data/backgrounds_raw/
data/backgrounds_processed/
data/manifests/*.csv
data/manifests/*.json
*.mp4
*.avi
*.mov

*.log
